body {
  font: 100% Helvetica, sans-serif;
  color: #333;
  font-weight: bold; }

i {
  color: white; }

nav {
  height: 40px;
  background-color: black;
  display: flex;
  align-items: center;
  font-size: 12px; }

.blue {
  background-color: #0066ff; }

.red {
  background-color: #cc2900; }

.yellow {
  background-color: #ffff1a; }

.light-blue {
  background-color: #4da6ff; }

.white {
  background-color: white; }

.torquise {
  background-color: #47d1d1; }

.grey {
  background-color: #4d4d4d; }

.darkgrey {
  background-color: #333333; }

.nav-link, .nav-expand {
  color: white;
  position: relative; }

.spacer {
  width: 100%;
  height: 10px;
  background: none; }

.line {
  height: 4px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0; }

.line-text {
  height: 15px; }
  .line-text div {
    margin-right: 10px;
    height: 100%;
    width: 2px;
    float: left; }

.line-text, p {
  font-size: 16px;
  color: #cccccc;
  font-weight: lighter; }

.nav-expand {
  width: 80px; }

.nav-expand > span {
  position: absolute;
  right: 10px;
  top: 18px; }

nav > div {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  border-right: 1px solid grey; }

.section-title {
  height: 25px;
  font-size: 24px;
  color: #4d4d4d;
  margin-bottom: 15px;
  margin-top: 10px; }
  .section-title div {
    height: 100%;
    width: 5px;
    float: left;
    margin-right: 10px;
    margin-left: 15px; }

.nav-search-form input {
  height: 25px;
  border-radius: 0px; }

.more {
  margin: 10px;
  height: 150px;
  display: none; }

.expand {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

.more-link {
  font-size: 14px;
  width: 50px;
  padding: 10px; }

.welcome {
  display: flex;
  justify-content: space-between;
  margin: 0px 15px; }

.hero {
  background-color: #cccccc;
  padding-bottom: 10px; }
  .hero img {
    width: 100%;
    height: 100%; }

.hero-primary {
  margin-bottom: 10px; }

.img-container {
  position: relative; }

.img-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3); }

.img-overlay-content {
  position: absolute;
  bottom: 20px;
  left: 10px; }
  .img-overlay-content h3, .img-overlay-content h4 {
    color: white; }

.img-line {
  height: 12px;
  width: 2px;
  float: left;
  margin-right: 8px; }

.news-story {
  position: relative;
  margin-bottom: 25px;
  height: 350px; }
  .news-story img {
    width: 100%; }
  .news-story h4 {
    font-weight: bold; }
  .news-story p {
    font-size: 16px;
    font-weight: lighter;
    color: #4d4d4d;
    margin-bottom: 25px; }
  .news-story div {
    position: absolute;
    bottom: 0; }
    .news-story div p {
      margin-left: 10px; }

.fixed-height {
  height: 350px; }

/* Editor's Picks */
.editor-picks {
  background-color: #cccccc; }

.editor-primary {
  width: 100%; }
  .editor-primary img {
    width: 100%; }

.story-text h3 {
  font-weight: bold; }
.story-text p {
  font-size: 14px;
  font-weight: lighter;
  color: #4d4d4d; }

.editor-primary-text {
  height: 120px;
  position: absolute;
  background-color: white;
  width: 100%;
  bottom: -120px;
  padding-left: 10px; }

.editor-story-container {
  margin-top: 15px;
  margin-bottom: 250px;
  width: 100%;
  height: 150px; }

.editor-story {
  position: relative; }
  .editor-story img {
    width: 100%; }

.editor-story-text {
  position: absolute;
  bottom: -250px;
  height: 250px;
  width: 100%;
  background-color: white;
  padding: 10px 15px; }
  .editor-story-text > div {
    position: absolute;
    bottom: 20px; }

.business-news {
  width: 100%;
  height: 750px;
  background-color: #4d4d4d; }

@media (min-width: 992px) {
  .nav-expand {
    width: 150px; }

  .nav-sign-in {
    width: 150px; }
    .nav-sign-in i {
      margin-right: 10px; }

  .nav-sign-in::after {
    content: "Sign In";
    color: white; }

  .more h2 {
    margin-bottom: 100px; } }
@media (max-width: 1200px) {
  .editor-primary {
    margin-bottom: 120px; } }
@media (max-width: 767px) {
  .container-inner {
    margin-right: 0px !important; } }
.container-fluid {
  max-width: 1170px; }

.news-box {
  width: 335px;
  position: absolute;
  top: 0;
  right: -350px; }

.news-box-intro {
  background-color: #cc2900;
  color: white;
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 16px;
  padding-left: 10px; }

.news-box-headline {
  height: 150px;
  color: #cccccc;
  padding: 10px 20px; }

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #cc2900;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px; }

.container-inner {
  margin-right: 350px;
  position: relative; }

.video-toggle {
  width: 100%;
  border-bottom: 1px solid #cccccc;
  height: 50px;
  background-color: #4d4d4d;
  padding-left: 20px;
  color: white;
  padding-left: 20px;
  padding-top: 15px; }
  .video-toggle > div {
    height: 100%;
    display: flex; }
    .video-toggle > div div {
      height: 100%;
      margin-right: 25px;
      font-size: 16px; }
      .video-toggle > div div:hover {
        border-bottom: 3px solid white; }

.video-slider {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #4d4d4d;
  overflow: hidden; }

.slide {
  background-color: #4d4d4d;
  position: relative;
  padding: 20px; }
  .slide img {
    width: 160px;
    float: left;
    margin-right: 10px; }
  .slide h5 {
    color: white;
    font-size: 18px;
    font-weight: bold; }
  .slide .line-text {
    position: absolute;
    bottom: 20px;
    left: 190px;
    font-size: 12px; }

.slick-button {
  height: 80px;
  width: 50px;
  background-color: black;
  z-index: 2;
  transition: 1s; }

.slick-prev.slick-disabled {
  left: -50px;
  transition: 0.5s; }

.slick-next.slick-disabled {
  right: -50px;
  transition: 0.5s; }

.slick-prev {
  left: 0; }

.slick-next {
  right: 0; }

/*# sourceMappingURL=style.css.map */
