$font-stack: Helvetica, sans-serif
$primary-color: #333
$blue: #0066ff
$red: #cc2900
$yellow: #ffff1a
$lightblue: #4da6ff
$grey: #4d4d4d
$lightgrey: #cccccc
$darkgrey: #333333
$torquise: #47d1d1

body
  font: 100% $font-stack
  color: $primary-color
  font-weight: bold

i
  color: white

nav
  height: 40px
  background-color: black
  display: flex
  align-items: center
  font-size: 12px


.blue
  background-color: $blue

.red
  background-color: $red

.yellow
  background-color: $yellow

.light-blue
  background-color: $lightblue

.white
  background-color: white

.torquise
  background-color: $torquise

.grey
  background-color: $grey

.darkgrey
  background-color: $darkgrey

.nav-link, .nav-expand
  color: white
  position: relative

.spacer
  width: 100%
  height: 10px
  background: none

.line
  height: 4px
  width: 100%
  position: absolute
  bottom: 0
  left: 0

.line-text
  height: 15px
  div
    margin-right: 10px
    height: 100%
    width: 2px
    float: left

.line-text, p
  font-size: 16px
  color: $lightgrey
  font-weight: lighter

.nav-expand
  width: 80px

.nav-expand > span
  position: absolute
  right: 10px
  top: 18px

nav > div
  height: 100%
  display: flex
  align-items: center
  padding: 10px
  border-right: 1px solid grey

.section-title
  height: 25px
  font-size: 24px
  color: $grey
  margin-bottom: 15px
  margin-top: 10px
  div
    height: 100%
    width: 5px
    float: left
    margin-right: 10px
    margin-left: 15px

.nav-search-form input
  height: 25px
  border-radius: 0px

.more
  margin: 10px
  height: 150px
  display: none

.expand
  display: flex
  flex-direction: column
  flex-wrap: wrap

.more-link
  font-size: 14px
  width: 50px
  padding: 10px

.welcome
  display: flex
  justify-content: space-between
  margin: 0px 15px

.hero
  background-color: $lightgrey
  padding-bottom: 10px
  img
    width: 100%
    height: 100%

.hero-primary
  margin-bottom: 10px

.img-container
  position: relative

.img-overlay
  width: 100%
  height: 100%
  position: absolute
  top: 0
  left: 0
  background: rgba(0,0,0,0.3)

.img-overlay-content
  position: absolute
  bottom: 20px
  left: 10px
  h3, h4
    color: white

.img-line
  height: 12px
  width: 2px
  float: left
  margin-right: 8px

.news-story
  position: relative
  margin-bottom: 25px
  height: 350px
  img
    width: 100%
  h4
    font-weight: bold
  p
    font-size: 16px
    font-weight: lighter
    color: $grey
    margin-bottom: 25px
  div
    position: absolute
    bottom: 0
    p
      margin-left: 10px

.fixed-height
  height: 350px

/* Editor's Picks */
.editor-picks
  background-color: $lightgrey

.editor-primary
  width: 100%
  img
    width: 100%

.story-text
  h3
    font-weight: bold
  p
    font-size: 14px
    font-weight: lighter
    color: $grey

.editor-primary-text
  height: 120px
  position: absolute
  background-color: white
  width: 100%
  bottom: -120px
  padding-left: 10px


.editor-story-container
  margin-top: 15px
  margin-bottom: 250px
  width: 100%
  height: 150px

.editor-story
  position: relative

  img
    width: 100%

.editor-story-text
  position: absolute
  bottom: -250px
  height: 250px
  width: 100%
  background-color: white
  padding: 10px 15px
  > div
    position: absolute
    bottom: 20px

.business-news
  width: 100%
  height: 750px
  background-color: $grey

@media (min-width: 992px)
  .nav-expand
    width: 150px
  .nav-sign-in
    width: 150px
    i
      margin-right: 10px
  .nav-sign-in::after
    content: 'Sign In'
    color: white
  .more h2
    margin-bottom: 100px

@media (max-width: 1200px)
  .editor-primary
    margin-bottom: 120px

@media (max-width: 767px)
  .container-inner
    margin-right: 0px !important

.container-fluid
  max-width: 1170px

.news-box
  width: 335px
  position: absolute
  top: 0
  right: -350px

.news-box-intro
  background-color: $red
  color: white
  height: 40px
  display: flex
  align-items: center
  font-size: 16px
  padding-left: 10px

.news-box-headline
  height: 150px
  color: $lightgrey
  padding: 10px 20px

.circle
  width: 50px
  height: 50px
  border-radius: 50px
  background-color: $red
  display: flex
  justify-content: center
  align-items: center
  font-size: 16px

.container-inner
  margin-right: 350px
  position: relative

.box
  height: 250px
  width: 100%
  background-color: black
  margin: 10px
